body {
  margin: 0px;
}

.col-1 {
  float: left;
  width: 8.33333333%;
}

.col-2 {
  float: left;
  width: 16.66666667%;
}

.col-3 {
  float: left;
  width: 25%;
}

.col-4 {
  float: left;
  width: 33.33333333%;
}

.col-5 {
  float: left;
  width: 41.666666667%;
}

.col-6 {
  float: left;
  width: 50%;
}

.col-7 {
  float: left;
  width: 58.33333333%;
}

.col-8 {
  float: left;
  width: 66.6666666667%;
}

.col-9 {
  float: left;
  width: 75%;
}

.col-10 {
  float: left;
  width: 83.33333333%;
}

.col-11 {
  float: left;
  width: 91.6666666667%;
}

.col-12 {
  float: left;
  width: 100%;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.row:before {
  display: table;
  content: "";
}

.row:after {
  display: table;
  content: "";
  clear: both;
}

nav {
  text-align: center;
  height: 50px;
  width: 100%;
  position: fixed;
  float: left;
}

nav a {
  font-size: 20px;
  padding: 10px;
  margin: 10px;
  line-height: 45px;
  text-decoration-line: none;
  text-transform: uppercase;
  font-family: 'Verdana', sans-serif;
}

nav a:hover {
  color: white;
}

.nav-dark {
  background-color: #4b4e54;
  border-top : 3px solid #837884;
  border-bottom : 3px solid #837884;
}

.nav-light {
  background-color: #e0dad5;
  border-top : 3px solid #ccc7bf;
  border-bottom : 3px solid #ccc7bf;
}

.nav-dark a {
  color: #fc913a;
}

.nav-light a {
  color: #35123a;
}

.nav-active {
  background-color: #728479;
}
